<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">

	<!-- wp:pattern {"slug":"creatifriends/hero-headline"} /-->
	<!-- wp:pattern {"slug":"creatifriends/about-intro"} /-->
	<!-- wp:pattern {"slug":"creatifriends/services-grid"} /-->
	<!-- wp:pattern {"slug":"creatifriends/work-grid"} /-->
	<!-- wp:pattern {"slug":"creatifriends/testimonials"} /-->
	<!-- wp:pattern {"slug":"creatifriends/cta-banner"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
